<%- include('partials/header'); -%>
<form method="POST" action="/">
  <h2>Sign up</h2>
  <label for="email">Email</label>
  <input type="text" name="email" required />
  <div class="email error"></div>
  <label for="email">Password</label>
  <input type="password" name="password" required />
  <div class="password error"></div>
  <button type="submit">Sign up</button>
</form>
<script>
  const form = document.querySelector('form');
  const emailErr = document.querySelector('.email.error');
  const passwordErr = document.querySelector('.password.error');

  const sendData = async e => {
    e.preventDefault();

    // Reset errors
    emailErr.textContent = '';
    passwordErr.textContent = '';

    // Get values
    const email = form.email.value;
    const password = form.password.value;

    // Send data to server
    try {
      const res = await fetch('/signup', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({ email, password }),
      });

      const data = await res.json();
      console.log(data);

      // Show errors
      if (data.errors) {
        emailErr.textContent = data.errors.email;
        passwordErr.textContent = data.errors.password;
      }
      // Redirect to main page if OK
      if (data.status === 'ok') {
        location.assign('/');
      }
    } catch (error) {
      console.log(error);
    }
  };
  form.addEventListener('submit', sendData);
</script>
<%- include('partials/footer'); -%>
